# ---- Python ----
__pycache__/
*.py[cod]
.venv/
venv/
*.egg-info/
.pytest_cache/
.coverage
htmlcov/
 
# ---- LaTeX ----
*/report/*.aux
*/report/*.log
*/report/*.out
*/report/*.fls
*/report/*.fdb_latexmk
*/report/*.synctex.gz
*/report/*.toc
*/report/*.qmd


dn1_qr_premik/ALGORITEM.md
dn1_qr_premik/PLAN.md

dn2_naravni_parameter/ALGORITEM.md
dn2_naravni_parameter/PLAN.md

dn3_airy_nicle/ALGORITEM.md
dn3_airy_nicle/PLAN.md